# Ref: https://docs.docker.com/build/concepts/context/

# Not currently using the Ray RLLIB code
work/forge/rllib/

# No need to include GitHub & Docker config files
.dockerignore
.github/
.git/
.gitignore

